# **Importar** las bibliotecas necesarias

> Instalar librerias con el siguiente comando:  `pip install -r requirements.txt`

In [6]:
import pandas as pd
import requests

# Google Driver
from googleapiclient.discovery import build
from googleapiclient.http import MediaFileUpload
from google.oauth2 import service_account
import json



import matplotlib.pyplot as plt
import seaborn as sns
import requests
import zipfile
import io
import os

# Paso 1: Descargar el conjunto de datos

In [ ]:
# URL del archivo comprimido
url = "https://archive.ics.uci.edu/static/public/502/online+retail+ii.zip"

# Descargar el archivo y descomprimirlo
with requests.get(url) as r:
    with zipfile.ZipFile(io.BytesIO(r.content)) as z:
        z.extractall(path="./prueba_i2ds/")

# Ahora los archivos están descomprimidos en la ruta "./prueba_i2ds/" y listos para ser utilizados

# Paso 2: Conexión a Google Drive y Google Sheets

- Subir archvio a Google Drive

In [ ]:
from googleapiclient.discovery import build
from googleapiclient.http import MediaFileUpload
from google.oauth2 import service_account
import json


# Leer el contenido del archivo JSON
with open("./client_secrets.json", "r") as json_file:
    json_content = json.load(json_file)


# Credenciales de servicio
credentials = service_account.Credentials.from_service_account_info(
    json_content, scopes=['https://www.googleapis.com/auth/drive']
)

# Crear el servicio de Google Drive
drive_service = build('drive', 'v3', credentials=credentials)

# ID de la carpeta "prueba i2ds" en Google Drive
folder_id = 'https://drive.google.com/drive/folders/1FdyTzg04CGQCdPBJ5IeDjTDBH-o8oaRn'

# Ruta local al archivo que deseas subir
local_file_path = './prueba_i2ds/online_retail_II.xlsx'

# Metadata del archivo
file_metadata = {
    'name': 'online_retail_data.xlsx',
    'parents': [folder_id]
}

# Subir el archivo a Google Drive
media = MediaFileUpload(local_file_path, mimetype='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')
file = drive_service.files().create(body=file_metadata, media_body=media, fields='id').execute()

print('Archivo subido con éxito a Google Drive en la carpeta "prueba i2ds"')

- Leer el archivo .xlsx

# Paso 3: Manipulación de Datos con Pandas

In [47]:
# Filtrado
df = pd.read_excel("./prueba_i2ds/online_retail_II.xlsx")
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

# Paso 4: Visualización de Datos con Matplotlib y Seaborn